openapi: 3.0.3
info:
  title: Predibase API
  description: |
    Predibase is a fine-tuning and serverless inference platform for LLMs.
    Built on open-source LoRAX, it provides LoRA fine-tuning as a service
    with serverless inference for open-source language models.

    The API covers:
    - Deployments: manage private serverless LLM deployments
    - Repositories: organize fine-tuned adapters
    - Fine-tuning Jobs: create and monitor LoRA fine-tuning jobs
    - Datasets: upload and manage training datasets
    - Inference: OpenAI-compatible chat completions, completions, generate, classify

    Authentication uses Bearer token. Get your API token from Settings > My Profile
    in the Predibase dashboard. You also need your Tenant ID for inference endpoints.
  version: '1.0.0'
  contact:
    name: Predibase
    url: https://predibase.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.app.predibase.com/v1
    description: Predibase Platform API
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    # ─── Deployment ───
    Deployment:
      type: object
      description: A private serverless LLM deployment.
      properties:
        uuid:
          type: string
          description: Unique identifier for the deployment.
        name:
          type: string
          description: Name of the deployment.
        description:
          type: string
          description: Description of the deployment.
        status:
          type: string
          description: Current status of the deployment.
          enum:
            - pending
            - running
            - stopped
            - error
        model:
          type: string
          description: Base model used by the deployment.
        endpoint:
          type: string
          description: Serving endpoint URL for the deployment.
        created_at:
          type: string
          format: date-time
          description: When the deployment was created.
        updated_at:
          type: string
          format: date-time
          description: When the deployment was last updated.
        config:
          $ref: '#/components/schemas/DeploymentConfig'
    DeploymentConfig:
      type: object
      description: Configuration for a deployment.
      required:
        - base_model
      properties:
        base_model:
          type: string
          description: The base model to deploy (e.g., meta-llama/Llama-3.3-70B-Instruct).
        accelerator:
          type: string
          description: GPU accelerator type to use.
        min_replicas:
          type: integer
          format: int32
          description: Minimum number of replicas (default 0 for scale-to-zero).
          default: 0
        max_replicas:
          type: integer
          format: int32
          description: Maximum number of replicas.
          default: 1
        cooldown_time:
          type: integer
          format: int32
          description: Seconds of inactivity before scaling down replicas (default 3600).
          default: 3600
        scale_up_threshold:
          type: integer
          format: int32
          description: Number of simultaneous requests before scaling up (default 1).
          default: 1
        quantization:
          type: string
          description: Quantization method for the model.
          enum:
            - none
            - fp8
            - bitsandbytes-nf4
        max_total_tokens:
          type: integer
          format: int32
          description: Maximum number of tokens per request.
        request_logging_enabled:
          type: boolean
          description: Whether to enable request logging.
          default: false
        preloaded_adapters:
          type: array
          description: List of adapter IDs to preload on deployment initialization.
          items:
            type: string
        prefix_caching:
          type: boolean
          description: Whether to enable prefix caching.
          default: false
        speculator:
          type: string
          description: Speculator to use for speculative decoding (auto, disabled, or adapter ID).
        hf_token:
          type: string
          description: Hugging Face token for private models.
        direct_ingress:
          type: boolean
          description: Creates a direct endpoint bypassing the Predibase control plane.
          default: false
    CreateDeploymentRequest:
      type: object
      required:
        - name
        - config
      properties:
        name:
          type: string
          description: Name for the deployment.
        description:
          type: string
          description: Description for the deployment.
        config:
          $ref: '#/components/schemas/DeploymentConfig'
    UpdateDeploymentRequest:
      type: object
      properties:
        description:
          type: string
          description: Updated description.
        config:
          $ref: '#/components/schemas/DeploymentConfig'
    DeploymentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
    # ─── Repository ───
    Repository:
      type: object
      description: An adapter repository for organizing fine-tuned adapters.
      properties:
        uuid:
          type: string
          description: Unique identifier for the repository.
        name:
          type: string
          description: Name of the repository.
        description:
          type: string
          description: Description of the repository.
        created_at:
          type: string
          format: date-time
          description: When the repository was created.
        updated_at:
          type: string
          format: date-time
          description: When the repository was last updated.
        adapter_count:
          type: integer
          format: int32
          description: Number of adapters in this repository.
    CreateRepositoryRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Name for the repository.
        description:
          type: string
          description: Description for the repository.
        exists_ok:
          type: boolean
          description: If true, returns existing repo instead of raising an error.
          default: false
    RepositoryList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Repository'
    # ─── Adapter ───
    Adapter:
      type: object
      description: A fine-tuned LoRA adapter.
      properties:
        uuid:
          type: string
          description: Unique identifier for the adapter.
        repo:
          type: string
          description: Repository the adapter belongs to.
        version:
          type: integer
          format: int32
          description: Version number of the adapter.
        description:
          type: string
          description: Description of the adapter.
        base_model:
          type: string
          description: Base model this adapter was fine-tuned from.
        status:
          type: string
          description: Current status of the adapter.
          enum:
            - pending
            - training
            - ready
            - failed
            - cancelled
            - archived
        created_at:
          type: string
          format: date-time
          description: When the adapter was created.
        updated_at:
          type: string
          format: date-time
          description: When the adapter was last updated.
    AdapterList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Adapter'
    # ─── Fine-tuning ───
    FinetuningConfig:
      type: object
      description: Configuration for a fine-tuning job.
      required:
        - base_model
      properties:
        base_model:
          type: string
          description: The base model to fine-tune (e.g., meta-llama/Llama-3.3-70B-Instruct).
        adapter:
          type: string
          description: Adapter type (lora, turbo_lora, turbo).
          default: lora
        epochs:
          type: integer
          format: int32
          description: Number of training epochs.
          default: 3
        train_steps:
          type: integer
          format: int32
          description: Number of training steps (overrides epochs if set).
        learning_rate:
          type: number
          format: float
          description: Learning rate for training.
          default: 0.0002
        rank:
          type: integer
          format: int32
          description: Rank of the LoRA adapter.
          default: 16
        lora_alpha:
          type: integer
          format: int32
          description: Alpha parameter for LoRA scaling.
        lora_dropout:
          type: number
          format: float
          description: Dropout rate for LoRA layers.
          default: 0
        target_modules:
          type: array
          description: Model modules to apply LoRA to.
          items:
            type: string
        enable_early_stopping:
          type: boolean
          description: Whether to enable early stopping.
          default: true
        warmup_ratio:
          type: number
          format: float
          description: Ratio of training steps for learning rate warmup.
          default: 0.03
        effective_batch_size:
          type: integer
          format: int32
          description: Effective batch size for training.
          default: 16
        task:
          type: string
          description: Fine-tuning task type (e.g., instruction_tuning, classification, continued_pretraining).
        apply_chat_template:
          type: boolean
          description: Whether to apply the chat template to the dataset.
          default: false
    CreateFinetuningJobRequest:
      type: object
      required:
        - config
        - dataset
        - repo
      properties:
        config:
          $ref: '#/components/schemas/FinetuningConfig'
        dataset:
          type: string
          description: Name of the dataset to use for fine-tuning.
        repo:
          type: string
          description: Name of the adapter repository to store the fine-tuned adapter.
        description:
          type: string
          description: Description for the fine-tuning job.
    FinetuningJob:
      type: object
      description: A fine-tuning job.
      properties:
        uuid:
          type: string
          description: Unique identifier for the job.
        status:
          type: string
          description: Current status of the job.
          enum:
            - pending
            - running
            - completed
            - failed
            - cancelled
        dataset:
          type: string
          description: Dataset used for fine-tuning.
        repo:
          type: string
          description: Adapter repository name.
        config:
          $ref: '#/components/schemas/FinetuningConfig'
        description:
          type: string
          description: Description of the job.
        adapter_version:
          type: integer
          format: int32
          description: Version number of the resulting adapter.
        created_at:
          type: string
          format: date-time
          description: When the job was created.
        updated_at:
          type: string
          format: date-time
          description: When the job was last updated.
    FinetuningJobList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FinetuningJob'
    # ─── Dataset ───
    Dataset:
      type: object
      description: A training dataset.
      properties:
        uuid:
          type: string
          description: Unique identifier for the dataset.
        name:
          type: string
          description: Name of the dataset.
        description:
          type: string
          description: Description of the dataset.
        status:
          type: string
          description: Processing status of the dataset.
          enum:
            - ready
            - processing
            - error
        row_count:
          type: integer
          format: int32
          description: Number of rows in the dataset.
        column_count:
          type: integer
          format: int32
          description: Number of columns in the dataset.
        columns:
          type: array
          description: Column names.
          items:
            type: string
        created_at:
          type: string
          format: date-time
          description: When the dataset was created.
        updated_at:
          type: string
          format: date-time
          description: When the dataset was last updated.
    DatasetList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
    # ─── Inference Types ───
    ChatCompletionRequest:
      type: object
      description: OpenAI-compatible chat completion request.
      required:
        - messages
      properties:
        model:
          type: string
          description: Adapter model identifier (e.g., repo_name/version).
        messages:
          type: array
          description: Chat messages.
          items:
            $ref: '#/components/schemas/ChatMessage'
        temperature:
          type: number
          format: float
          description: Sampling temperature (0 to 2).
          nullable: true
        top_p:
          type: number
          format: float
          description: Nucleus sampling probability (0 to 1).
          nullable: true
        n:
          type: integer
          format: int32
          description: Number of completions to generate.
          nullable: true
        max_tokens:
          type: integer
          format: int32
          description: Maximum number of tokens to generate.
          default: 20
        stop:
          type: array
          description: Up to 4 stop sequences.
          items:
            type: string
          maxItems: 4
        stream:
          type: boolean
          description: Whether to stream the response.
          default: false
        adapter_source:
          type: string
          description: Source of the adapter (pbase, hub, s3).
          nullable: true
    ChatMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          description: Role of the message sender (system, user, assistant).
        content:
          type: string
          description: Content of the message.
    ChatCompletionResponse:
      type: object
      description: OpenAI-compatible chat completion response.
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
          format: int64
        model:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionChoice'
        usage:
          $ref: '#/components/schemas/UsageInfo'
        system_fingerprint:
          type: string
    ChatCompletionChoice:
      type: object
      properties:
        index:
          type: integer
          format: int32
        message:
          $ref: '#/components/schemas/ChatCompletionMessage'
        finish_reason:
          type: string
          nullable: true
    ChatCompletionMessage:
      type: object
      properties:
        role:
          type: string
        content:
          type: string
    CompletionRequest:
      type: object
      description: OpenAI-compatible completion request.
      required:
        - prompt
      properties:
        model:
          type: string
          description: Adapter model identifier.
        prompt:
          type: string
          description: The prompt to complete.
        temperature:
          type: number
          format: float
          nullable: true
        top_p:
          type: number
          format: float
          nullable: true
        n:
          type: integer
          format: int32
          nullable: true
        max_tokens:
          type: integer
          format: int32
          default: 20
        stop:
          type: array
          items:
            type: string
          maxItems: 4
        stream:
          type: boolean
          default: false
        adapter_source:
          type: string
          nullable: true
    CompletionResponse:
      type: object
      description: OpenAI-compatible completion response.
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
          format: int64
        model:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/CompletionChoice'
        usage:
          $ref: '#/components/schemas/UsageInfo'
        system_fingerprint:
          type: string
    CompletionChoice:
      type: object
      properties:
        index:
          type: integer
          format: int32
        text:
          type: string
        finish_reason:
          type: string
          nullable: true
    GenerateRequest:
      type: object
      description: Generate text completion (LoRAX native format).
      required:
        - inputs
      properties:
        inputs:
          type: string
          description: The prompt text.
        parameters:
          $ref: '#/components/schemas/GenerateParameters'
    GenerateParameters:
      type: object
      description: Parameters for text generation.
      properties:
        max_new_tokens:
          type: integer
          format: int32
          description: Maximum number of new tokens to generate.
        temperature:
          type: number
          format: float
          description: Sampling temperature.
          nullable: true
        top_k:
          type: integer
          format: int32
          description: Top-K sampling parameter.
          nullable: true
        top_p:
          type: number
          format: float
          description: Nucleus sampling probability.
          nullable: true
        do_sample:
          type: boolean
          description: Whether to use sampling instead of greedy decoding.
          default: false
        repetition_penalty:
          type: number
          format: float
          description: Penalty for repeating tokens.
          nullable: true
        seed:
          type: integer
          format: int64
          description: Random seed for reproducibility.
          nullable: true
        stop:
          type: array
          description: Up to 4 stop sequences.
          items:
            type: string
          maxItems: 4
        details:
          type: boolean
          description: Whether to include generation details.
          default: false
        return_full_text:
          type: boolean
          description: Whether to return the full text including the prompt.
          nullable: true
        adapter_id:
          type: string
          description: Adapter ID for fine-tuned model inference (format repo_name/version).
          nullable: true
        adapter_source:
          type: string
          description: Source of the adapter (pbase, hub, s3).
          nullable: true
        schema:
          type: string
          description: JSON schema for structured output.
          nullable: true
        apply_chat_template:
          type: boolean
          description: Whether to apply the chat template to the input.
          default: false
    GenerateResponse:
      type: object
      description: Response from the generate endpoint.
      required:
        - generated_text
      properties:
        generated_text:
          type: string
          description: The generated text completion.
        details:
          $ref: '#/components/schemas/GenerationDetails'
    GenerationDetails:
      type: object
      description: Details about the generation process.
      properties:
        finish_reason:
          type: string
          description: Reason for generation completion.
          enum:
            - length
            - eos_token
            - stop_sequence
        prompt_tokens:
          type: integer
          format: int32
          description: Number of tokens in the prompt.
        generated_tokens:
          type: integer
          format: int32
          description: Number of generated tokens.
        seed:
          type: integer
          format: int64
          description: Random seed used.
          nullable: true
    ClassifyRequest:
      type: object
      description: Batch classification request.
      required:
        - input
        - model
      properties:
        input:
          type: array
          description: List of texts to classify.
          items:
            type: string
          minItems: 1
        model:
          type: string
          description: Classification adapter model identifier.
    ClassifyResponse:
      type: object
      description: Batch classification response.
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
          format: int64
        model:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationResult'
        usage:
          $ref: '#/components/schemas/UsageInfo'
    ClassificationResult:
      type: object
      properties:
        index:
          type: integer
          format: int32
        label:
          type: string
          description: Predicted class label.
        probs:
          type: array
          description: Class probabilities.
          items:
            type: number
            format: float
        num_classes:
          type: integer
          format: int32
          description: Total number of classes.
    UsageInfo:
      type: object
      description: Token usage information.
      properties:
        prompt_tokens:
          type: integer
          format: int32
        total_tokens:
          type: integer
          format: int32
        completion_tokens:
          type: integer
          format: int32
          nullable: true
    DeploymentInfo:
      type: object
      description: Information about the inference endpoint.
      properties:
        model_id:
          type: string
          description: The model deployed on this endpoint.
        model_dtype:
          type: string
          description: Model data type (e.g., torch.float16).
        model_device_type:
          type: string
          description: Device type (e.g., cuda).
        max_concurrent_requests:
          type: integer
          format: int32
        max_input_length:
          type: integer
          format: int32
        max_total_tokens:
          type: integer
          format: int32
        version:
          type: string
          description: LoRAX server version.
    HealthResponse:
      type: object
      description: Health check response.
      properties:
        status:
          type: string
          description: Health status (e.g., ok).
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message.
        error_type:
          type: string
          description: Type of error.
paths:
  # ─── Deployments ───
  /deployments:
    get:
      tags:
        - Deployments
      operationId: listDeployments
      summary: List Deployments
      description: List all private serverless deployments.
      responses:
        '200':
          description: List of deployments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentList'
    post:
      tags:
        - Deployments
      operationId: createDeployment
      summary: Create Deployment
      description: Create a new private serverless deployment with the specified base model and configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
      responses:
        '201':
          description: Deployment created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
  /deployments/{deployment_name}:
    get:
      tags:
        - Deployments
      operationId: getDeployment
      summary: Get Deployment
      description: Get details of a specific deployment by name.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment.
      responses:
        '200':
          description: Deployment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    patch:
      tags:
        - Deployments
      operationId: updateDeployment
      summary: Update Deployment
      description: Update an existing deployment's configuration. Note that updating a single-replica deployment may cause brief downtime.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
      responses:
        '200':
          description: Deployment updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    delete:
      tags:
        - Deployments
      operationId: deleteDeployment
      summary: Delete Deployment
      description: Delete a deployment by name.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment.
      responses:
        '204':
          description: Deployment deleted.
  # ─── Repositories ───
  /repos:
    get:
      tags:
        - Repositories
      operationId: listRepositories
      summary: List Repositories
      description: List adapter repositories with optional limit.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Maximum number of repositories to return.
      responses:
        '200':
          description: List of repositories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryList'
    post:
      tags:
        - Repositories
      operationId: createRepository
      summary: Create Repository
      description: Create a new adapter repository for organizing fine-tuned adapters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRepositoryRequest'
      responses:
        '201':
          description: Repository created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
  /repos/{repo_name}:
    get:
      tags:
        - Repositories
      operationId: getRepository
      summary: Get Repository
      description: Get details of a specific repository by name.
      parameters:
        - name: repo_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the repository.
      responses:
        '200':
          description: Repository details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
  # ─── Adapters ───
  /repos/{repo_name}/adapters:
    get:
      tags:
        - Adapters
      operationId: listAdapters
      summary: List Adapters
      description: List all adapters in a repository.
      parameters:
        - name: repo_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the repository.
      responses:
        '200':
          description: List of adapters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdapterList'
  /repos/{repo_name}/adapters/{version}:
    get:
      tags:
        - Adapters
      operationId: getAdapter
      summary: Get Adapter
      description: Get details of a specific adapter version.
      parameters:
        - name: repo_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the repository.
        - name: version
          in: path
          required: true
          schema:
            type: integer
          description: Version number of the adapter.
      responses:
        '200':
          description: Adapter details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adapter'
    delete:
      tags:
        - Adapters
      operationId: deleteAdapter
      summary: Delete Adapter
      description: Delete a specific adapter version.
      parameters:
        - name: repo_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the repository.
        - name: version
          in: path
          required: true
          schema:
            type: integer
          description: Version number of the adapter.
      responses:
        '204':
          description: Adapter deleted.
  /repos/{repo_name}/adapters/{version}/cancel:
    post:
      tags:
        - Adapters
      operationId: cancelAdapter
      summary: Cancel Adapter Training
      description: Cancel an in-progress adapter training job.
      parameters:
        - name: repo_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the repository.
        - name: version
          in: path
          required: true
          schema:
            type: integer
          description: Version number of the adapter.
      responses:
        '200':
          description: Adapter training cancelled.
  # ─── Fine-tuning Jobs ───
  /finetuning/jobs:
    get:
      tags:
        - Fine-tuning
      operationId: listFinetuningJobs
      summary: List Fine-tuning Jobs
      description: List all fine-tuning jobs.
      responses:
        '200':
          description: List of fine-tuning jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuningJobList'
    post:
      tags:
        - Fine-tuning
      operationId: createFinetuningJob
      summary: Create Fine-tuning Job
      description: |
        Create a new LoRA fine-tuning job. This is an asynchronous operation
        that starts training and returns immediately with the job details.
        Use the job ID to poll for status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFinetuningJobRequest'
      responses:
        '201':
          description: Fine-tuning job created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuningJob'
  /finetuning/jobs/{job_id}:
    get:
      tags:
        - Fine-tuning
      operationId: getFinetuningJob
      summary: Get Fine-tuning Job
      description: Get details and status of a specific fine-tuning job.
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the fine-tuning job.
      responses:
        '200':
          description: Fine-tuning job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuningJob'
  /finetuning/jobs/{job_id}/cancel:
    post:
      tags:
        - Fine-tuning
      operationId: cancelFinetuningJob
      summary: Cancel Fine-tuning Job
      description: Cancel an in-progress fine-tuning job.
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the fine-tuning job.
      responses:
        '200':
          description: Fine-tuning job cancelled.
  # ─── Datasets ───
  /datasets:
    get:
      tags:
        - Datasets
      operationId: listDatasets
      summary: List Datasets
      description: List all uploaded datasets.
      responses:
        '200':
          description: List of datasets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetList'
  /datasets/{dataset_name}:
    get:
      tags:
        - Datasets
      operationId: getDataset
      summary: Get Dataset
      description: Get details of a specific dataset.
      parameters:
        - name: dataset_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the dataset.
      responses:
        '200':
          description: Dataset details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    delete:
      tags:
        - Datasets
      operationId: deleteDataset
      summary: Delete Dataset
      description: Delete a dataset.
      parameters:
        - name: dataset_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the dataset.
      responses:
        '204':
          description: Dataset deleted.
  # ─── Inference (on deployment) ───
  /deployments/{deployment_name}/chat/completions:
    post:
      tags:
        - Inference
      operationId: chatCompletion
      summary: Chat Completion
      description: |
        OpenAI-compatible chat completion endpoint for a specific deployment.
        Supports both base model and fine-tuned adapter inference.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment to query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '422':
          description: Input validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Model is overloaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deployments/{deployment_name}/completions:
    post:
      tags:
        - Inference
      operationId: completion
      summary: Completion
      description: OpenAI-compatible text completion endpoint for a specific deployment.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment to query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
      responses:
        '200':
          description: Completion response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
        '422':
          description: Input validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Model is overloaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deployments/{deployment_name}/generate:
    post:
      tags:
        - Inference
      operationId: generate
      summary: Generate
      description: |
        LoRAX native generate endpoint for a specific deployment.
        Generates tokens and waits for completion. Supports adapter switching.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment to query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRequest'
      responses:
        '200':
          description: Generation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateResponse'
        '422':
          description: Input validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Model is overloaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deployments/{deployment_name}/classify:
    post:
      tags:
        - Inference
      operationId: classify
      summary: Classify
      description: Batch classification endpoint for one or more inputs using a classification adapter.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment to query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassifyRequest'
      responses:
        '200':
          description: Classification results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifyResponse'
        '422':
          description: Input validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deployments/{deployment_name}/info:
    get:
      tags:
        - Inference
      operationId: getDeploymentInfo
      summary: Deployment Info
      description: Get information about the inference endpoint including model details and limits.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment.
      responses:
        '200':
          description: Deployment info response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentInfo'
  /deployments/{deployment_name}/health:
    get:
      tags:
        - Inference
      operationId: getDeploymentHealth
      summary: Deployment Health
      description: Health check for a specific deployment.
      parameters:
        - name: deployment_name
          in: path
          required: true
          schema:
            type: string
          description: Name of the deployment.
      responses:
        '200':
          description: Health status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
